

.diceContainer {
    background-color: brown;
    margin: 0% 50% 0% 50%;
}

.die {
    font-size: 64px;
    text-align: center;
    background-color: yellow;
}

#rollButton { 
    background-color: aqua;
    margin: 50%;
}

